* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mg-bottom {
    margin-bottom: 40px;
}

.header {
    height: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header-link {
    position: absolute;
    font-family: 'Tourney', cursive;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #000;
    margin-top: 29px;
}

.menu {
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
    align-items: center;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__list-item--after::after {
    content: "/";
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0 10px 0 10px;
}

.menu__list-link {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo {
    display: flex;
    position: absolute;
    right: 120px;
    top: 13px;
}

main {
    margin-top: 70px;
}

.title {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin: 70px 0 40px 0;
}

.title--mg-bottom {
    margin-bottom: 40px;
}

.subtitle--name {
    position: absolute;
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 10px;
}

.chapter-1-text,
.chapter-2-text,
.chapter-3-text,
.chapter-4-text {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}

mark {
    background: #DADADA;
    height: 48px;
}