$violet-middle: #8A40EE;
$dark-violet: #212353;
$violet: #9C69E2;
$violet-light: #F6F0FD;
$pink: #F063B8;
$pink-middle: #EB4BAB;
$pink-medium: #FDE8F5;
$pink-light: #FEF0F8;
$green-light: #F0FAF9;
$blue-light: #EAF6FC;
$blue-medium: #CCDDFF;
$blue-facebook: #3B5998;
$blue-twitter: #00ACEE;
$pink-instagram: #C13584;
$grey: #4B5D68;
$white: #fff;
$black: #000;