.blog {

    margin-top: 90px;
    margin-bottom: 90px;

    &__container {
        @include container;
    }

    &__title {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: $black;
        margin-bottom: 50px;
    }

    &__article {
        display: flex;

        &--mb-50 {
            margin-bottom: 50px;
        }

        &-info {
            width: 450px;
            margin-left: 30px;
            margin-top: 85px;

            &--marg-l-r {
                margin-left: 120px;
                margin-right: 30px;
            }
        }

        &-tag {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 27px;
            letter-spacing: 0.1em;
            color: $grey5;
        }

        &-title {
            font-family: 'Red Hat Display';
            font-weight: 500;
            font-size: 23px;
            line-height: 38px;
            letter-spacing: 0.1em;
            font-style: normal;
            color: $black;
            margin-top: 22px;
            margin-bottom: 23px;
        }

        &-date {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 27px;
            letter-spacing: 0.1em;
            color: $grey5;
            margin-bottom: 50px;
        }

        &-text {
            // position: relative;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.05em;
            color: $grey7;
        }

        &-arrow {
            padding-left: 17px;
            text-decoration: none;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.1em;
            color: $black;
                    
            padding-right: 8px;

            &:hover {
                &::before {
                    content: 'Read More';
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .blog__article {
        
        &-img {
            width: 430px;
            height: 320px;
        }

        &-info {
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .blog__article {
        &--mb-50 {
            margin-bottom: 40px;
        }

        &-title {
            font-size: 21px;
            margin-bottom: 15px;
        }
        
        &-img {
            width: 340px;
            height: 280px;
        }

        &-info {
            margin-top: 0;
            margin-left: 20px;
        }

        &-date {
            margin-bottom: 35px;
        }

        &-text {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 620px) {
    .blog {
        &__article {
            display: block;

            &-info {
                order: 1;
                width: 300px;
                margin-left: 0;
            }

            &-title {
                width: 300px;
            }

            &-img {
                width: 300px;
                height: 250px;
                order: 2;
            }

            &-text {
                width: 300px;
            }

            &-tag {
                width: 246px;
            }
        }
    }
}